*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #1A3636;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: 320px;
    height: min-content;
    background-color: #40534C;
    border: 2px solid gray;
    padding: 20px;
    color: #021526;
    margin-top: 30vh;
}
input{
    width: 230px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}
button{
    width: 60px;
    height: 35px;
    font-size: 15px;
}
.items-section ul li{
    list-style: none;
    position: relative;
    margin-left: 20px;
    padding: 10px;
    font-size: 18px;
}
.items-section ul li::before{
    content: "";
    position: absolute;
    top: 1px;
    left: -25px;
    background-image: url(images/checkbox-unchecked-20-regular.png);
    width: 40px;
    height: 40px;
    background-size: cover;
}
.items-section ul li.checked{
    text-decoration: line-through;
}
.items-section ul li.checked::before{
    background-image: url(images/check-box.png);
}
ul li span{
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    font-size: 25px;
}
.dev{
    text-align: center;
}